@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

* {
  font-family: "Rajdhani", sans-serif;
}
body {
  background: #000;
  color: #fff;
  line-height: 64px;
}
.text-primary {
  color: #f3500e;
}
.bg-primary {
  background-color: #f3500e;
}
